@import url(../fonts/fontawesome-free-6.2.1-web/css/all.min.css);

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.6;
  background-color: black;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}
.intro {
  width: 100vw;
  height: 100vh;
  background: url("./images/ian-valerio-CAFq0pv9HjY-unsplash.jpg") center no-repeat;
  background-size: cover;

}
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  text-shadow: 3px 3px 5px white, 3px 3px 10px rgb(196, 59, 59), 3px 3px 15px rgb(228, 26, 87), 3px 3px 20px rgb(138, 125, 59);
  font-size: 30px;
}
.icons{
  text-shadow: 3px 3px 5px white, 3px 3px 10px rgb(196, 59, 59), 3px 3px 15px rgb(228, 26, 87), 3px 3px 20px rgb(138, 125, 59);
  margin-left: 50px;
  margin-right: 25px;
  color:rgb(13, 9, 9);
  font-size: 2em;
  list-style: none;
  display: inline-block;
}

nav {
  font-size: 20px;
  text-transform: uppercase;
}
.nav__link {
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: color 0.2s linear;
  font-weight: bold;
  margin: 40px;
}
.nav__link:hover {
  color: rgb(239, 240, 248);
}

.intro__title {
  color:rgba(0, 0, 0, 0.91);
  text-align: center;
 text-shadow: 3px 3px 5px white, 3px 3px 10px rgb(196, 59, 59), 3px 3px 15px rgb(228, 26, 87), 3px 3px 20px rgb(138, 125, 59);
  display: flex;
  justify-content: center;
  padding: 200px;
  font-size: 70px;

}
.main h4,p {
  text-shadow: 3px 3px 11px rgb(233, 55, 55), 3px 3px 15px rgba(133, 7, 7, 0.971);
  font-size:25px;
  margin: 30px;
  color: white;
}
.gallery-2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 20px;
  height: 400px;
}
.title{
  text-align: center;
  font-size: 35px;
}
.navbar_nav {
  justify-content:center ;
  display: flex;
  list-style: none;
  column-gap: 20px;
}
.nav__item {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
  position: relative;

}
.nav__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-radius: 50%;
  border-top-color: blue;
  border-right-color: yellow;
  border-bottom-color: rgb(225, 133, 133);
  border-left-color: rgb(107, 35, 195);

}
.nav__item:hover::before {
  transform: rotate(360deg);
  transition: transform 1s;
}
p{
    text-shadow: 3px 3px 3px white;
    font-size:25px;
    margin: 30px;
}
.gallery-2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 20px;
  height: 400px;
}